Repository LeCafeCloud/AWSMusicalEvent: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

commit-msg:
  commands:
    conventional-commit:
      run: |
        msg=$(head -n1 {1})
        pattern="^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"
        if ! echo "$msg" | grep -qE "$pattern"; then
          echo "‚ùå Invalid commit message format!"
          echo ""
          echo "Format: <type>(<scope>): <subject>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Example: feat(auth): add github oauth login"
          echo "Example: fix: resolve database connection issue"
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun lint:fix
      stage_fixed: true
    typecheck:
      glob: "packages/web/**/*.{ts,tsx}"
      run: cd packages/web && bun check

pre-push:
  parallel: false
  commands:
    lint:
      run: bun lint
    typecheck:
      run: cd packages/web && bun check

chore(hooks): enforce conventional commits validation
  lefthook.yml
Due: none

feat(ui): initialize shadcn/ui with button component
  bun.lock
  packages/web/app/globals.css
  packages/web/components.json
  packages/web/components/ui/button.tsx
  packages/web/lib/utils.ts
  packages/web/package.json
Due: lint, typecheck

feat(auth): add authentication routes and proxy configuration
  infra/templates/web.ts
  packages/web/app/api/auth/[...all]/route.ts
  packages/web/app/page.tsx
  packages/web/lib/auth-client.ts
  packages/web/lib/auth.ts
  packages/web/proxy.ts
Due: lint, typecheck

chore: migrate from lefthook to husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.mjs
  bun.lock
  commitlint.config.mjs
  lefthook.yml
  package.json
Due: lint

feat(docs): add Astro Starlight documentation site
  infra/common/config.ts
  infra/common/dns.ts
  infra/common/index.ts
  infra/docs/docs.ts
  infra/docs/index.ts
  packages/docs/README.md
  packages/docs/astro.config.mjs
  packages/docs/package.json
  packages/docs/public/favicon.svg
  packages/docs/src/assets/houston.webp
  packages/docs/src/content.config.ts
  packages/docs/src/content/docs/guides/example.md
  packages/docs/src/content/docs/index.mdx
  packages/docs/src/content/docs/reference/example.md
  packages/docs/sst-env.d.ts
  packages/docs/tsconfig.json
  sst-env.d.ts
  sst.config.ts
Due: lint

feat(web): add public pages with shadcn/ui components
  packages/web/app/(public)/about/page.tsx
  packages/web/app/(public)/layout.tsx
  packages/web/app/(public)/login/page.tsx
  packages/web/app/(public)/page.tsx
  packages/web/app/(public)/symphony/[id]/page.tsx
  packages/web/components/ui/badge.tsx
  packages/web/components/ui/navigation-menu.tsx
  packages/web/components/ui/separator.tsx
  packages/web/components/ui/sheet.tsx
  packages/web/package.json
Due: lint, typecheck

feat(infra): update infrastructure for multi-app support
  infra/awsymphony/next.ts
  infra/templates/web.ts
Due: lint

feat(auth): implement GitHub and magic link authentication with Better Auth
  bun.lock
  infra/common/dns.ts
  packages/web/app/(public)/layout.tsx
  packages/web/app/(public)/login/page.tsx
  packages/web/app/(public)/page.tsx
  packages/web/app/layout.tsx
  packages/web/components/github-sign-in-button.tsx
  packages/web/components/magic-link-sign-in-form.tsx
  packages/web/components/theme-provider.tsx
  packages/web/components/theme-toggle.tsx
  packages/web/components/ui/dropdown-menu.tsx
  packages/web/lib/auth-client.ts
  packages/web/lib/auth.ts
  packages/web/lib/db.ts
  packages/web/package.json
Due: lint, typecheck

feat(email): add email package with React Email templates and AWS SES integration
  packages/email/package.json
  packages/email/src/emails/components/EmailButton.tsx
  packages/email/src/emails/components/EmailFooter.tsx
  packages/email/src/emails/components/EmailHeader.tsx
  packages/email/src/emails/components/EmailLayout.tsx
  packages/email/src/emails/magic-link.tsx
  packages/email/src/emails/welcome.tsx
  packages/email/src/index.ts
  packages/email/src/lib/email-factory.ts
  packages/email/src/lib/email-renderer.ts
  packages/email/src/lib/email-sender.ts
  packages/email/src/lib/ses-client.ts
  packages/email/src/lib/types.ts
  packages/email/src/send.ts
  packages/email/sst-env.d.ts
  packages/email/tsconfig.json
  packages/web/lib/auth.ts
Due: lint, typecheck

chore: update dependencies and workspace configuration for email package
  bun.lock
  infra/awsymphony/next.ts
  package.json
  packages/docs/package.json
  packages/web/package.json
Due: lint

feat(web): add user navigation components with avatar and logout
  bun.lock
  packages/web/app/(public)/layout.tsx
  packages/web/components/logout-button.tsx
  packages/web/components/ui/avatar.tsx
  packages/web/components/user-nav.tsx
  packages/web/package.json
Due: lint, typecheck

feat(realtime): add EventBridge to MQTT real-time event streaming
  biome.json
  bun.lock
  infra/awsymphony/bus.ts
  infra/awsymphony/debug.ts
  infra/awsymphony/index.ts
  infra/awsymphony/next.ts
  infra/awsymphony/realtime.ts
  infra/awsymphony/storage.ts
  infra/common/setup.ts
  package.json
  packages/lambdas/package.json
  packages/lambdas/src/debug.ts
  packages/lambdas/src/realtime/authorizer.ts
  packages/lambdas/src/realtime/bus-external-to-realtime.ts
  packages/lambdas/src/realtime/bus-to-realtime.ts
  packages/lambdas/sst-env.d.ts
  packages/web/app/(dashboard)/layout.tsx
  packages/web/app/(public)/symphony/page.tsx
  packages/web/components/github-sign-in-button.tsx
  packages/web/components/symphony/audio-controls.tsx
  packages/web/components/symphony/symphony-visualizer.tsx
  packages/web/components/ui/card.tsx
  packages/web/components/ui/scroll-area.tsx
  packages/web/hooks/use-audio-engine.ts
  packages/web/hooks/use-realtime-events.ts
  packages/web/package.json
  sst-env.d.ts
  tsconfig.json
Due: lint, typecheck

fix: remove unused import and add dashboard layout scaffold
  infra/awsymphony/debug.ts
  packages/web/app/(dashboard)/layout.tsx
Due: lint, typecheck
